<launch>

    <!-- Intel RealSense ROS Node - Cam with ID 828112071570 -->
    <include file="$(find realsense2_camera)/launch/rs_camera.launch"> 
        <arg name="camera" value="cam_1"/>
        <arg name="serial_no" value="828112071570"/>
        <arg name="filters" value="spatial,temporal,pointcloud"/>
    </include> 

    <!-- Intel RealSense ROS Node - Cam with ID 843112072743 -->
    <include file="$(find realsense2_camera)/launch/rs_camera.launch"> 
        <arg name="camera" value="cam_2"/>
        <arg name="serial_no" value="843112072743"/>
        <arg name="filters" value="spatial,temporal,pointcloud"/>
    </include>  

</launch>